---
apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 24h
  url: https://kubernetes.github.io/ingress-nginx
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  dependsOn:
    - name: cert-manager
      namespace: cert-manager
  interval: 12h
  install:
    strategy:
      name: RetryOnFailure
      retryInterval: 2m
  upgrade:
    strategy:
      name: RetryOnFailure
      retryInterval: 3m
  chart:
    spec:
      chart: ingress-nginx
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: ingress-nginx
      interval: 12h
  values:
    controller:
      admissionWebhooks:
        certManager:
          enabled: true
      hostNetwork: true
      kind: DaemonSet
      service:
        type: "NodePort"
        externalIPs:
          # IP of the node where Kubernetes is running
          - "192.168.178.104"
      
    # expose pi-hole as a DNS server on port 53
    # tcp:
    #   "53": "pi-hole/dns:53"
    # udp:
    #   "53": "pi-hole/dns:53"
