---
apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 24h
  url: https://kubernetes.github.io/ingress-nginx
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  dependsOn:
    - name: cert-manager
      namespace: cert-manager
  interval: 12h
  install:
    strategy:
      name: RetryOnFailure
      retryInterval: 2m
  upgrade:
    strategy:
      name: RetryOnFailure
      retryInterval: 3m
  chart:
    spec:
      chart: ingress-nginx
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: ingress-nginx
      interval: 12h
  values:
    controller:
      admissionWebhooks:
        certManager:
          enabled: true
      # we want to use the host network for our ingresses
      hostNetwork: true
      # run a single controller pod per node, NodePort services won't work otherwise
      kind: DaemonSet
      service:
        # bind ports on the node (allows us to use ports 80, 443 etc.) and we don't need to run a load balancer
        type: "NodePort"
        # register external IPs of the host network, this is required for external-dns to create correct DNS records
        externalIPs:
          # IP of the node where Kubernetes is running, this needs to be a static IP
          - "192.168.178.104"
      
    # expose pi-hole as a DNS server on port 53
    tcp:
      "53": "pi-hole/dns:53"
    # udp:
    #   "53": "pi-hole/dns:53"
