apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  ingressClassName: nginx
  rules:
  - host: home-assistant.ber.bruegner.com
    http:
      paths:
      - backend:
          service:
            name: home-assistant
            port:
              number: 5000
        path: /
        pathType: Prefix
