apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
  namespace: paperless-ngx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: paperless-ngx-ui
  template:
    metadata:
      labels:
        app: paperless-ngx-ui
    strategy:
      type: Recreate
    spec:
      containers:
        - name: paperless-ngx
          image: ghcr.io/paperless-ngx/paperless-ngx:latest
          ports:
            - containerPort: 8000
              name: http
          envFrom:
            - configMapRef:
                name: ui-config
          volumeMounts:
            - name: data
              mountPath: /usr/src/paperless/data
            - name: media
              mountPath: /usr/src/paperless/media
            - name: export
              mountPath: /usr/src/paperless/export
            - name: consume
              mountPath: /usr/src/paperless/consume
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: paperless-ngx-data
        - name: media
          persistentVolumeClaim:
            claimName: paperless-ngx-media
        - name: export
          persistentVolumeClaim:
            claimName: paperless-ngx-sync-export
        - name: consume
          persistentVolumeClaim:
            claimName: paperless-ngx-consume
      # prevent two UI pods from being scheduled at a time, only one instance should be running to not corrupt the data
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - paperless-ngx-ui
            topologyKey: "kubernetes.io/hostname"
