apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
  namespace: paperless-ngx
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: paperless-ngx-ui
  template:
    metadata:
      labels:
        app: paperless-ngx-ui
    spec:
      initContainers:
        - name: configure-permissions
          image: busybox
          command: ["sh", "-c", "mkdir -p /sync/consume && mkdir -p /sync/export && chown -R 1000:1000 /sync"]
          volumeMounts:
            - name: sync
              mountPath: /sync
      containers:
        - name: paperless-ngx
          image: ghcr.io/paperless-ngx/paperless-ngx:latest
          ports:
            - containerPort: 8000
              name: http
          envFrom:
            - configMapRef:
                name: ui-config
          volumeMounts:
            - name: data
              mountPath: /usr/src/paperless/data
            - name: media
              mountPath: /usr/src/paperless/media
            - name: sync
              mountPath: /usr/src/paperless/sync
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: paperless-ngx-data
        - name: media
          persistentVolumeClaim:
            claimName: paperless-ngx-media
        - name: sync
          persistentVolumeClaim:
            claimName: paperless-ngx-sync
      # prevent two UI pods from being scheduled at a time, only one instance should be running to not corrupt the data
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - paperless-ngx-ui
            topologyKey: "kubernetes.io/hostname"
