apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ui
  namespace: paperless-ngx
  labels:
    app: paperless-ngx-ui
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt"
spec:
  ingressClassName: nginx
  rules:
  - host: paperless.berlin.bruegner.com
    http:
      paths:
      - backend:
          service:
            name: ui
            port:
              number: 8000
        path: /
        pathType: Prefix
  tls:
    - hosts:
        - paperless.berlin.bruegner.com
      secretName: paperless-ngx-tls